* {
    font-family: 'Segoe UI', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 67px;
    align-items: center;
}

.logotipo {
    border-radius: 50%;
    width: 58px;
    height: 58px;
    margin-left: 1rem;
}

nav {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1rem;
}

header nav a {
    color: white;
    padding-left: 21px;
    text-transform: uppercase;
    font-size: 0.813rem;
    font-weight: bold;
    line-height: 1.5;
}

/*Fin del header*/

.section__portada__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto__portada {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: 100%;
}

.section__portada-titulo {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.9rem;
    color: white;
    font-style: italic;
    text-shadow: 2px 2px black;
}

.section__portada-span {
    color: yellow;
}

/*Comienzo de seccion comunidad*/

.section__comunidad {
    position: relative;
    height: 100vh;
    gap: 2.5rem;
    background-color: #1e1c18;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

.section__comunidad_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 2rem;
}

.section__comunidad__titulo {
    color: yellow;
    text-transform: uppercase;
    font-style: italic;
    font-size: 3rem;
    text-shadow: 2px 2px black;
    text-align: center;
}

.section__comunidad__paragrafo {
    color: white;
    font-size: 1rem;
}

.foto__comunidad__1,
.foto__comunidad__2 {
    width: 290px;
    height: 445px;
}

.foto__comunidad__2 {
    display: none;
}

/*Comienzo de seccion oferta*/

.section__oferta {
    background-color: #1e1c18;
    display: flex;
    align-items: center;
    padding: 2rem;
    flex-direction: column;
    position: relative;
}

.section__oferta__titulo {
    color: yellow;
    text-transform: uppercase;
    font-style: italic;
    font-size: 2rem;
    text-shadow: 2px 2px black;
    text-align: center;
}

.section__oferta__paragrafo {
    color: white;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.section__oferta__container__foto {
    position: relative;
}

.section__oferta__container__foto img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.section__oferta__container__foto p {
    position: absolute;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    z-index: 1;
    text-transform: uppercase;
    text-shadow: 2px 2px black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

/*Comienzo de seccion resultados*/

.section__resultados {
    background-color: #1e1c18;
    display: flex;
    padding: 2rem;
    flex-direction: column;
}

.section__resultados__titulo {
    color: yellow;
    text-transform: uppercase;
    font-style: italic;
    font-size: 2rem;
    text-shadow: 2px 2px black;
    text-align: center;
    margin-bottom: 1rem;
}

.section__resultados__container__foto {
    background-color: yellow;
    margin-bottom: 1.2rem;
}


.section__resultados__container__foto img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: right;
}

.section__resultados__container__foto:nth-child(even) img {
    object-position: 45%;
}

.section__resultados__container__foto div {
    padding: 4rem;
}

.section__resultados__container__paragrafo {
    color: black;
    font-size: 0.8rem;
    line-height: 1.5;
    margin-bottom: 1rem;

}

.section__resultados__container__foto div span {
    color: black;
    font-style: italic;
    font-size: 0.8rem;
    line-height: 1.5;
}

/*Comienzo de seccion prueba*/

.section__prueba {
    background-image: url("./assets/images/Formulario.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    gap: 5rem;
}

.section__prueba__titulo {
    color: yellow;
    text-transform: uppercase;
    font-style: italic;
    font-size: 2rem;
    text-shadow: 2px 2px black;
    font-weight: 700;
    text-align: center;
}

.section__prueba__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e1c18;
    padding: 1rem;
    border-radius: 6px;
}

.section__prueba__form label {
    color: #fff;
    align-self: flex-start;
    margin-bottom: 4px;
}

.section__prueba__form input {
    margin-bottom: 6px;
}

input[type="submit"] {
    border-radius: 6px;
    width: 50%;
    padding: 0.3rem;
    background-color: #fff;
    font-weight: 700;
    border: none;
}

input[type="submit"]:hover {
    background-color: yellow;
}

/*Comienzo de footer*/

footer {
    background-color: yellow;
    text-align: center;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;

}

footer span {
    font-style: italic;
}

.footer__section {
    display: flex;
    flex-direction: column;
}

.footer__section__article {
    text-align: left;
    padding: 1.2rem;
}

.footer__section__article h3 {
    text-transform: uppercase;
    font-style: italic;
    font-size: 1rem;
    text-shadow: 0.9px 0.9px black;
    font-weight: 600;
}

.footer__section__article p {
    color: black;
    font-size: 1rem;
    line-height: 1;
    margin-bottom: 0.3rem;
}

@media screen and (min-width: 768px) {
    header {
        justify-content: space-around;
    }

    .foto__portada {
        object-fit: cover;
        object-position: 100%;
    }

    .foto__comunidad__2 {
        display: inline-block;
        object-fit: cover;
        object-position: 60%;
    }

    .section__comunidad__imagenes {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .section__comunidad__paragrafo {
        font-size: 1.2rem;
        margin-top: 1rem;
    }

    .section__oferta__titulo {
        font-size: 2.2rem;
        margin-bottom: 0.8rem;
    }

    .section__oferta__paragrafo {
        font-size: 1.2rem;
    }

    .section__oferta__container__foto p {
        font-size: 2.5rem;
    }

    .section__resultados__titulo {
        font-size: 2.2rem;
        margin-bottom: 2rem;
    }
    
    .section__resultados__container__paragrafo {
        font-size: 1.3rem;
    }
    
    .section__resultados__container__foto div span {
        font-size: 1.3rem;
    }

    .section__resultados__container__foto {
       margin-left: 3rem;
       margin-right: 3rem;
    }

    .section__prueba{
        flex-direction: row;
        gap: 1.8rem;
        padding: 5rem;

    }

    .section__prueba__titulo {
         font-size: 2.5rem;
    }

    .footer__section {
        flex-direction: row;
        padding: 0 2rem;
    }                                               

    .footer__section__article h3 {
       
        font-size: 1rem;
        margin-bottom: 0.3rem;
    }
    
    .footer__section__article p {
        font-size: 1.2rem;
        
    }

    footer span {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1024px) {

    /*Sección Nuestra comunidad*/

    .section__comunidad {
        flex-direction: row;
        
    }
    
    .section__comunidad_container {
        display: flex;
        justify-content: left;
        width: 100%;
        
        margin-right: 200px;
    }

    .section__comunidad__titulo {
        text-align: left;
    }

    .section__comunidad__imagenes{
        position: relative;
    }
    
    .foto__comunidad__1,
    .foto__comunidad__2 {
        position: absolute;
    }

    .foto__comunidad__1{
        top: -250px;
        left: -170px;
        
    }

    .foto__comunidad__2{
        top: -150px;
        left: 150px;
        
    }

    /*Section oferta*/

    .section__oferta__paragrafo{
        margin-bottom: 2rem;
    }

    .section__oferta__container__fotos{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .section__oferta__container__foto img{
        width: 380px;
    }

    .section__oferta__container__foto p{
        font-size: 1.5rem;
    }

    /*Seccion resultados*/

    .section__resultados{
        padding: 3rem;
        align-items: center;
    }

    .section__resultados_container__fotos{
        display: flex;
        flex-direction: row;
        gap: 30px;
        
    }

    .section__resultados__container__foto {
        margin-left: 0;
        margin-right: 0;
        width: 360px;
        
    }
    
    .section__resultados__container__foto img{
        width: 100%;
        object-fit: contain;
        height: auto;
    }

    .section__resultados__container__paragrafo, .section__resultados__container__foto div span{
        font-size: 0.8rem;
       
    }



    .section__resultados__container__foto div{
        padding: 2rem;
    }

    /*Seccion Prueba*/

    .section__prueba{
        height: 80vh;
    }

    .section__prueba__titulo {
        width: 50%;
        text-align: left;
        margin-right: 2rem;
    }

    .section__prueba__form {
        width: 25%
    }

    .section__prueba__form input{
        width: 100%;
    }

    input[type="submit"] {
        margin-top: 13px;
        width: 50%;
    }

    .footer__section {
        justify-content: space-around;
    }


} 




